<template>
  <!-- Компонент для пустого состояния списка заметок -->
  <a-empty
    image="https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original"
    :image-style="{
      height: '90px',
    }"
  >
    <template #description>
      <span> Тут пусто! </span>
    </template>
    <a-button type="dashed">Добавить заметку!</a-button>
  </a-empty>
</template>
