<template>
  <!-- Компонент кнопки для добавления новой заметки -->
  <a-float-button @click="showModal">
    <template #icon>
      <PlusOutlined />
    </template>
  </a-float-button>
</template>

<script>
import { PlusOutlined } from "@ant-design/icons-vue";
export default {
  components: {
    PlusOutlined,
  },
};
</script>
