<template>
  <!-- Карточка заметки -->
  <a-card hoverable style="width: 320px">
    <template #actions>
      <edit-outlined key="edit" @click="$emit('edit-note')" />
      <a-popconfirm
        title="Удалить заметку?"
        ok-text="Да"
        @confirm="deleteNote"
        cancel-text="Отмена"
      >
        <delete-outlined key="delete" />
      </a-popconfirm>
    </template>
    <a-card-meta :title="title" :description="content"> </a-card-meta>
  </a-card>
</template>

<script>
import { EditOutlined, DeleteOutlined } from "@ant-design/icons-vue";
export default {
  props: ["title", "content"],
  components: {
    EditOutlined,
    DeleteOutlined,
  },
  methods: {
    deleteNote() {
      this.$emit("delete-note");
    },
  },
};
</script>
