<template>
  <!-- Форма для добавления / редактирования заметки -->
  <a-form
    :model="formState"
    name="basic"
    layout="vertical"
    @submit.prevent="$emit('send-data')"
  >
    <a-form-item label="Заголовок">
      <a-input
        :value="title"
        @input="$emit('update:title', $event.target.value)"
      ></a-input>
    </a-form-item>
    <a-form-item label="Описание">
      <a-textarea
        type="text"
        :value="content"
        @input="$emit('update:content', $event.target.value)"
        rows="4"
      ></a-textarea>
    </a-form-item>
    <a-form-item>
      <a-button type="primary" html-type="submit">Применить</a-button>
    </a-form-item>
  </a-form>
</template>

<script>
export default {
  props: {
    title: String,
    content: String,
    id: Number,
  },
  emits: ["update:title", "update:content", "send-data"],
};
</script>
