<template>
  <!-- Верхняя панель страницы -->
  <a-page-header
    style="border: 1px solid rgb(235, 237, 240); margin-bottom: 40px"
    title="Список заметок"
  />

  <!-- Обрабатываем случай, когда список заметок пуст -->
  <div class="center" v-if="notes.length == 0">
    <EmptyState class="emptyMessage" @click="handleClickAdd"></EmptyState>
  </div>
  <!-- Если есть заметки, отображаем кнопку для добавления новой -->
  <float-button v-else @click="handleClickAdd"></float-button>

  <div class="container">
    <ul>
      <!-- Отображаем каждую заметку в виде карточки -->
      <note-card
        class="note"
        v-for="note in notes"
        :key="note.id"
        :title="note.title"
        :content="note.content"
        @edit-note="handleEditNote(note.id)"
        @delete-note="handleDeleteNote(note.id)"
      >
      </note-card>
    </ul>
  </div>

  <!-- Модальное окно с формой для добавления / редактирования заметки -->
  <a-modal v-model:open="open" :title="modalTitle" :footer="null">
    <NoteForm
      v-model:title="note.title"
      v-model:content="note.content"
      v-model:id="note.id"
      @send-data="validateNote"
    >
    </NoteForm>
  </a-modal>
</template>

<script>
import EmptyState from "./components/EmptyState.vue";
import FloatButton from "./components/FloatButton.vue";
import NoteCard from "./components/NoteCard.vue";
import NoteForm from "./components/NoteForm.vue";
import { message } from "ant-design-vue";

let id = 1; // Инициализация id для новых заметок

export default {
  components: {
    EmptyState,
    FloatButton,
    NoteCard,
    NoteForm,
  },
  data() {
    return {
      modalTitle: "",
      open: false, // Скрываем модальное окно
      notes: [],
      editedIndex: null,
      note: {
        title: "",
        content: "",
      },
    };
  },
  created() {
    // Загрузка заметок из localStorage при создании компонента
    const savedNotes = localStorage.getItem("notes");
    if (savedNotes) {
      this.notes = JSON.parse(savedNotes);
    }
  },
  beforeDestroy() {
    // Сохранение заметок в localStorage перед уничтожением компонента
    localStorage.setItem("notes", JSON.stringify(this.notes));
  },
  methods: {
    // Открыть модальное окно для добавления новой заметки
    handleClickAdd() {
      this.open = true;
      this.editedIndex = null;
      this.note = { title: "", content: "" };
      this.modalTitle = "Добавить новую заметку";
    },
    // Открыть модальное окно для редактирования существующей заметки
    handleEditNote(id) {
      this.open = true;
      this.editedIndex = this.notes.findIndex((note) => note.id === id);
      this.note = { ...this.notes[this.editedIndex] };
      this.modalTitle = "Изменить заметку";
    },
    // Сохранить заметку (добавить новую или обновить существующую)
    handleSaveNote() {
      if (this.editedIndex !== null) {
        this.notes.splice(this.editedIndex, 1, this.note);
      } else {
        const newNote = {
          id: id++,
          title: this.note.title,
          content: this.note.content,
        };
        this.notes.unshift(newNote);
      }
      this.open = false;

      // Сохранить заметки в localStorage после сохранения
      localStorage.setItem("notes", JSON.stringify(this.notes));
    },
    // Показать сообщение об ошибке, если поля заметки пустые
    errorMessage() {
      message.error("Заполните необходимые поля!");
    },
    // Валидация данных при добавлении заметки
    validateNote() {
      if (this.note.title === "" || this.note.content === "") {
        this.errorMessage();
      } else {
        this.handleSaveNote();
      }
    },
    // Удалить заметку по id
    handleDeleteNote(id) {
      const index = this.notes.findIndex((note) => note.id === id);
      if (index !== -1) {
        this.notes.splice(index, 1);
        localStorage.setItem("notes", JSON.stringify(this.notes));
      }
    },
  },
};
</script>

<style scoped>
.center {
  height: 50vh;
  position: relative;
}

.emptyMessage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 880px;
  flex-wrap: wrap;
}

.note {
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
